<header>
    <img src="logo.svg"width="500"/>
    <h1 ><span>My Drag-n-Drop</span><span>To-Do List</span></h1>
    <div class="navigateBtns">
        <button class="createBtn Btns" [routerLink]="['/createtodo']">Create my first list</button>
        <button class="viewBtn Btns"[routerLink]="['/todomain']">View my list</button>
    </div>
</header>
<section>
    <div class="container">
    
        <h2>Features</h2>
        <div class="card-group">
            <div class="card">
                <img src="priority.svg">
                <h3>Priorities</h3>
                <p>There is 3 choices of priorities : low , medium and high. Each with a visual color represantation for an eaisier view and recognition</p>
            </div>
            <div class="card">
                <img src="dragndrop.svg">
                <h3>Drag and Drop</h3>
                <p>Drag and drop , as the name suggests , you can drag and drop tasks from one category to anther ! no more going through an option pannel or rabbit holes </p>
            </div>

            <div class="card">
                <img src="lists.svg">
                <h3>Todo lists</h3>
                <p>Whats a todo list without a todo list ... </p>
            </div>
        </div>
    </div>
    
</section>